<div class="card border">
  <div class="card-body">
	  {{id}}. {{burger_name}} burger
	  <button class="change-devour bg-danger border border-dark" data-id="{{id}}" data-changestate="{{devoured}}">devour!</button>
  </div>
</div>
